<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Online.booking">
    <meta name="author" content="Chimbinde">
    <title>Exames </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  </head>
    <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
      <div class="wrapper">
          <!--{{>_msg}}-->
          {{>_navbar}}
          {{>_sidebar}}
          <div class="content-wrapper" style="background-image: radial-gradient(circle,#f4f6f9 0%, #dee2e6 100%);"  >
            <!-- style="background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);" 
            
            #f4f6f9; #dee2e6;
            -->
              {{#if error_msg}}
                <div class="alert" style="border-left: 5px solid #CD6155; margin-left:10px; background-color:#F9EBEA; color:#CD6155" role="alert">               
                  {{error_msg}}
                </div>
              {{else}}
              {{/if}}

              {{#if error}}
                <div class="alert" style="border-left: 5px solid #CD6155; margin-left:10px; background-color:#F9EBEA; color:#CD6155" role="alert">               
                  {{error}}
                </div>
              {{else}}
              {{/if}}
              {{{body}}}
          </div>
          {{>_footer}}
      </div> 
    </body>
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.js"></script>
    <!-- OPTIONAL SCRIPTS -->
    <script src="/dist/js/demo.js"></script>
    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="/plugins/raphael/raphael.min.js"></script>
    <script src="/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="/plugins/chart.js/Chart.min.js"></script>
    <!-- PAGE SCRIPTS -->
   <!-- <script src="/dist/js/pages/dashboard2.js"></script> -->

    <script>
        $( ".linkk" ).hover(function() {
            $(".linkk").css({"color":"#343a40"});
            $(this).css({"color":"#696969"});
        });
       $( ".linkk" ).focusout(function() {
            $(".linkk").css({"color":"rgba(255,255,255,.5)"});
         //   $(this).css({"color":"rgba(255,255,255,.8)"});
        // alert("kkk");
        });
    </script>

</html>
